.tracking-header {
    background: linear-gradient(120deg, #F8F8F8 0%, #FFF7ED 100%);
    color: #222222;
    padding: 40px 0;
    border-radius: 24px;
    margin-bottom: 30px;
    text-align: center;
    background: linear-gradient(rgba(11, 11, 12, 0.85), rgba(200, 16, 46, 0.85)), url('../images/ChatGPT Image Jun 1, 2026, 11_15_58 AM.png') center/cover;

}

.step-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
    margin-top: 30px;
}

.step-container::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 6px;
    background: #e9ecef;
    z-index: 1;
    border-radius: 10px;
}

.progress-bar-custom {
    position: absolute;
    top: 20px;
    left: 0;
    height: 6px;
    background: #D1121B;
    z-index: 2;
    transition: width 0.5s ease;
    border-radius: 10px;
}

.step {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 25%;
}

.step-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #e9ecef;
    color: #6c757d;
    line-height: 38px;
    font-size: 18px;
    margin: 0 auto 10px;
    border: 4px solid white;
    transition: all 0.3s;
    box-shadow: 0 0 0 2px #e9ecef;
}

.step.active .step-icon {
    background: #D1121B;
    color: white;
    border-color: white;
    box-shadow: 0 0 0 2px #D1121B;
}

.step.completed .step-icon {
    background: #F4B400;
    color: white;
    border-color: white;
    box-shadow: 0 0 0 2px #f11616;
}

.step-label {
    font-weight: 600;
    color: #6c757d;
    font-size: 14px;
    margin-top: 8px;
}

.step.active .step-label,
.step.completed .step-label {
    color: #f82323;
}

.progress-0 {
    width: 0%;
}

.progress-1 {
    width: 33.33%;
}

.progress-2 {
    width: 66.66%;
}

.progress-3 {
    width: 100%;
}